// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face("Cocogoose", "../fonts/Cocogoose");
@include font-face("Cocogoose-Thin", "../fonts/CocogoosePro-Thin");

$coco-font: 'Cocogoose', Arial, Helvetica, sans-serif;
$thin-font: 'Cocogoose-Thin', Arial, Helvetica, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$regular-font: 'Lato', sans-serif;
@mixin regular-font-w($property) {
  font-family: 'Lato', sans-serif;
  font-weight: $property;
}

$f10: 10px;
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f17: 17px;
$f18: 18px;
$f20: 20px;
$f24: 24px;