@import "font";
@import "colors";
@import "animation";
@import "slider";

/* General */
body {
  font-family: $regular-font;
  color: $color-one;
}

/* General Margins and Paddings */
.ms-auto {
  margin: 0 30px;
}

.center-element {
  margin: 0 auto;
}

button {
  font-family: $coco-font;
}

/* Colors */
.bg-one {
  background-color: $color-one;
}

.bg-two {
  background-color: $orange;
}

.bg-three {
  background-color: $grey;
}

.bg-t {
  background: linear-gradient(45deg, blue, red);
}

.color-1 {
  color: $color-one;
}

.color-2 {
  color: $orange;
}

/* Text */
h1,
h2,
h3,
h4 {
  font-family: $coco-font;
}

.fs-1-1 {
  font-size: 1.1em;
}

.fs-1-3 {
  font-size: 1.3em;
}

.title-section {
  font-family: $regular-font;
  font-size: $f24;

  @media (min-width: 768px) {
    font-weight: 700;
    font-size: 2.3em;
  }
}

.title-section::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 5px;
  border-bottom: 2px solid $orange;
}

.text {
  color: $grey;
  font-size: $f14;
  line-height: 18px;
}

/* Navbar */
header {
  font-family: $regular-font;
  font-weight: 400;
}

nav {
  a {
    color: $color-one;
  }

  .logo {
    height: 50px;
  }

  .nav-h {
    height: 65px;
  }
}

.f16 {
  font-size: $f18;

  @include regular-font-w(600);
}

.join-us {
  font-family: $coco-font;
  font-size: $f16;
  background-color: $orange;

  a:hover {
    background-color: $color-one;
  }
}

/* program section */
#program-section {
  background-color: $color-one;
  background-image: url("../img/bg-t.png");
  background-repeat: repeat;
  background-size: 80%;
}

.container-prog {
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.program {
  flex: 1;
  background: url("../img/bg_transparent.png");

  img {
    width: 50px;
  }

  h3 {
    @include regular-font-w(600);

    font-size: $f17;

    @media (min-width: 768px) {
      font-size: $f20;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  /* stylelint-disable */
  h3 a {
    color: $orange;
  }
  /* stylelint-enable */
}

.about-res {
  background: url("../img/about-res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* Speaker section */
.card-img {
  height: 74px;
  width: 74px;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.speakers {
  font-family: $regular-font;

  .name {
    font-size: $f24;
    font-weight: 700;
  }

  .job {
    font-size: $f14;
    font-weight: 700;
    font-style: italic;
    color: $orange;
  }

  .job::after {
    content: "";
    display: block;
    width: 11%;
    padding-top: 10px;
    border-bottom: 2px solid $grey;
  }
}

.past1 {
  background: url("../img/past1.jpg"), no-repeat;
  height: 220px;
  background-size: cover;
  margin-bottom: 20px;
  padding-top: 30px;
}

.past2 {
  background: url("../img/past2.jpg"), no-repeat;
  height: 220px;
  background-size: cover;
  margin-bottom: 20px;
  padding-top: 30px;
}

/* Partner */
.partner-img {
  height: 16px;

  @media (min-width: 768px) {
    height: 18px;
  }

  @media (min-width: 992px) {
    height: 22px;
  }

  @media (min-width: 1200px) {
    height: 36px;
  }
}

/* Join section */
.prop-table {
  font-size: 12px;
}

/* Footer */
.footer-img {
  width: 120px;

  @media (min-width: 768px) {
    width: 160px;
  }
}

footer {
  font-size: $f10;

  @media (min-width: 768px) {
    font-size: $f12;
  }

  @media (min-width: 992px) {
    font-size: $f14;
  }

  .copy {
    font-family: $coco-font;
  }

  .description {
    font-family: $regular-font;
  }
}
