@font-face {
  font-family: 'Cocogoose-Pro';
  src: url('Cocogoose-Pro.eot');
  src: url('Cocogoose-Pro.eot?#iefix') format('embedded-opentype'),
       url('Cocogoose-Pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('Cocogoose.svg#Cocogoose') format('svg'),
       url('Cocogoose.ttf') format('truetype'),
       url('Cocogoose.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

